.main-button {
	position: fixed;
	top: 93.5vh;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
	padding: .5rem 1rem;

	border-radius: 50rem;

	border: solid var(--size-border) var(--clr-primary);
	background-color: var(--clr-accent);
	color: var(--clr-primary);
	transition: var(--transition);

	font-family: var(--ff-rubic);
	font-weight: bold;
	font-size: 1.2rem;
	cursor: pointer;
}

@media (max-width: 1000px) {
	.main-button {
		top: 95vh;
	}

}