.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
}

.brick {
	background-color: var(--clr-accent);
	width: 4%;
	height: 80%;
	margin: 0 5px;
	transition: var(--transition), transform .2s ease-in-out;
	transform-origin: bottom center;
}
