/* _______________INCOMMON_STYLING_______________ */
.containers {
	padding: 1rem;
	height: 100%;
	border-radius: 1.5rem;
	transition: var(--transition);
}

.containers>h1 {
	font-size: 4rem;
	font-family: Montserrat;
}

.containers>p {
	font-size: 3rem;
	font-family: RR;
	font-size: 1.2rem;
}

.containers__domino {
	height: 7rem;
	margin-bottom: 1rem;
}



/* _______________DIFFERENT_STYLING_______________ */
.primary {
	border: solid var(--clr-accent) var(--size-border);
	grid-area: 2 / 9 / 13 / 12;
}
.primary>h1,
.primary>p {
	color: var(--clr-accent);
}


.accent {
	background-color: var(--clr-accent);
	grid-area: 2 / 2 / 13 / 5;
}
.accent>h1,
.accent>p {
	color: var(--clr-primary);
}




/* _______________MEDIA_QUERIES_______________ */
@media (max-width: 1400px) {

	.accent>h1,
	.primary>h1 {
		font-size: 3rem;
	}

	.accent>p,
	.primary>p {
		font-size: 1rem;
	}

}


@media (max-width: 1100px) {

	.accent>h1,
	.primary>h1 {
		font-size: 2.5rem;
	}

	.accent>p,
	.primary>p {
		font-size: .9rem;
	}
}

@media (max-width: 1000px) {
	.primary {
		grid-area: 1 / 1 / 5 / 6;
	}

	.accent {
		grid-area: 6 / 1 / 10 / 6;
	}


	.containers__domino {
		display: none;
	}

	.accent>h1,
	.primary>h1 {
		font-size: 3.7rem;
	}

	.accent>p,
	.primary>p {
		font-size: 1.4rem;
	}
}

@media (max-width: 700px) {

	.accent>h1,
	.primary>h1 {
		font-size: 3.3rem;
	}

	.accent>p,
	.primary>p {
		font-size: 1.1rem;
	}
}